<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="微信">

<!-- Mobile Devices Support @begin -->
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
		<meta content="0" http-equiv="expires">
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
		<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
            
<!-- Mobile Devices Support @end -->


		<link rel="stylesheet" href="../static/css/index.css" >
	
		<title>果果团</title>
	</head>
	
	<body>
	<center>

        <div style="margin-right: 10px">
            <h3 align="right"><a href="http://127.0.0.1:8000/queryorder/">订单查询</a></h3>
        </div>
	    <form active="" method="get" name="fruit" onSubmit="return check();">
            {% for fruit in fruits %}

                <div class="item" id="item">
                <a href="{{ fruit.comment }}">
                    <div class="itemPic" id="itemPic">
                        <img src="{{ fruit.list.picture }}"  alt="{{ fruit.list.fruitName }}"/>
                    </div>
                </a>
                    <div class="itemContext" id="itemContext">
                        <div class="itemTitle">
                        <h2><a href="{{ fruit.comment }}" style="text-decoration: none;color: red">
                            {{ fruit.list.fruitName }}
                        </a></h2>
                            <span class="price" >团购:<b>{{ fruit.list.price }}</b>
                                {% ifequal forloop.counter 4 %}元/两个
                                {% else %}
                                {% ifequal forloop.counter 6 %}元/个
                                {% else %}元/斤
                                {% endifequal %}
								{% endifequal %}
                            </span>
                            <span class="sum" style="margin:0 0 0 10px"><input class="fruitSum" name="fruitSum" type="text" size="3px"/>
                                {% if fruit.list.measurement %}
                                    {% ifequal forloop.counter 2 %}条
                                    {% else %}个
                                    {% endifequal %}
                                {% else %} 斤
                                {% endif %}
                                {% ifnotequal forloop.counter 4 %}
                                    {% ifnotequal forloop.counter 6 %}
                                        <label class="weigth">约0斤</label>
                                    {% endifnotequal %}
                                {% endifnotequal %}
                            </span>
                            <hr>
                        </div>
                        <div class="itemInf">
                            <span class="comment" id="appleComment" style="float:left;">评论:
                                <a href="{{ fruit.comment }}" id="itemComment">({{ fruit.list.commentSum }})条</a></span>
                            <span class="number" id="appleNumber" style="float:right;">已售:(<b>{{ fruit.list.amount }}</b>)</span>

                        </div>
                    </div>
                </div>

            {% endfor %}


		
		<div class="submitDiv">
			<input type="submit" class="submit" id="submit" value="订购">
		</div>
		</form>

    <div style="margin-bottom:20px"><h3 style="font-size: 12px">**<span style="color: black">注：每周一、三、五开市，给您造成不便请见谅</span>**</h3></div>

	<script type="text/javascript">
        function check()
        {
            var fruitsSum = document.fruit.fruitSum;
            var flag = 0;
            for(var i = 0; i < fruitsSum.length; ++i)
            {
                if(fruitsSum[i].value != "" && fruitsSum[i].value != "0")
                    flag = 1;
            }
            if(flag == 0)
            {
                alert("您还没选水果呢！");
                return false;
            }
            else
                return true;

        }
        window.onload = function()
        {
            //detectNumber();
            adapter();
            estimateWeigth();

             function detectNumber(e){
                var s = e.value;
                 var patrn=/^[0-9]{1,4}$/;
                 if (!patrn.exec(s)) {
                    alert("请输入购买数量");
                     e.value = "";
                     return false;
                 }
                 return true;
             }

            function estimateWeigth()
            {
                var sum = document.getElementsByClassName("fruitSum");
                var weigth = document.getElementsByClassName("weigth");
                weigth[0].innerHTML = "约" + (sum[0].value*0.4).toFixed(1) + "斤";
                weigth[1].innerHTML = "约" + (sum[1].value*0.5).toFixed(1) + "斤";
                weigth[2].innerHTML = "约" + (sum[2].value*0.3).toFixed(1) + "斤";

               sum[0].onchange = function(e)
               {
                   if(detectNumber(this)){
                       weigth[0].innerHTML = "约" + (sum[0].value*0.4).toFixed(1) + "斤";//alert((sum[0].value*0.4).toFixed(1));
                   }

               }
                sum[1].onchange = function(e)
               {
                   if(detectNumber(this)){
                       weigth[1].innerHTML = "约" + (sum[1].value*0.5).toFixed(1) + "斤";
                   }

               }
                sum[2].onchange = function(e)
               {
                   if(detectNumber(this)){
                       weigth[2].innerHTML = "约" + (sum[2].value*0.3).toFixed(1) + "斤";
                   }
               }
                sum[3].onchange = function(e){
                    detectNumber(this)
                }
            }

            //调整宽度
            function adapter()
            {
                var item = document.getElementsByClassName("item");
                var itemPic = document.getElementsByClassName("itemPic");
                var itemContext = document.getElementsByClassName("itemContext");
                var width = document.body.clientWidth - 120 - 10;
                for(var i = 0; i < itemContext.length; ++i)
                {
                    itemContext[i].style.width = width + "px";
                    //itemPic[i].style.width = "25%";
                }

            }


        }



    </script>

	</center>
	</body>
</html>
