<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="微信">

<!-- Mobile Devices Support @begin -->
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
		<meta content="0" http-equiv="expires">
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
		<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
            
<!-- Mobile Devices Support @end -->
	
		<title>用户登录</title>
	</head>
	
	<body>
	<center>
		<div class="header">
			<h2>用户登录</h2>	
		</div>
		
		<div class="body">
			<div class="username">
				<span class="username_pw">用户名：<input type="text" class="inputText" id="username" /> </span>			
			</div>
			<div class="passwd">
				<span class="username_pw">密&nbsp &nbsp码：<input type="password" class="inputText" id="passwd" /> </span>
			</div>
			<div class="login">
				<button id="login">登录</button>
			</div>
			<div class="other">
				<span class="otherSpan"><a id="forgetpw" href="#">忘记密码</a></span>
				<span class="otherSpan"><a id="newUser" href="signin.html">新用户注册</a></span>
			</div>
		</div>
		
		
		<style type="text/css">
			html, body{
				width:100%;
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
				background:RGB(200,204,255);
			}
			
			div{
				//width:100%;
				padding:10px;
			}
			
			#login{
				width:100%;
				font-size:20px;
				margin:0px;
			}
			
			.other{
				font-size:12px;
			}
			
			.otherSpan{
				padding:10px;
			}

		</style>
		
	</center>	
	</body>
</html>
	