<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="微信">

<!-- Mobile Devices Support @begin -->
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
		<meta content="0" http-equiv="expires">
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
		<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
            
<!-- Mobile Devices Support @end -->
	

	
		<title>我的评论</title>
		
		<style type="text/css">
		
		.comment{
			width:100%;
		}
		.commentText{
			width:70%;
			min-height:120px;
			resize: none;
		}
		
		.btnDiv{
			border-top:1px;
			margin-left: auto;
			margin-right: auto;
			align:center;
			padding-top:20px;
		}
		.btn{
			margin:auto;
			width:35%;
			font-size:20px;
		}
		</style>
		
	</head>
	
	<body>
	<center>
		<div class="header">
			<h1>我的评论</h1>
		</div>
        <form action="" method="get">
            <div class="comment">
                <textarea class="commentText" name="comment" id="comment"> </textarea>
            </div>
            <div class="btnDiv" >
                <input type="submit" name="submit" value="确定" class="btn" id="ok"/>
                <input type="submit" name="submit" value="取消" class="btn" id="cancel"/>
            </div>
        </form>
	</center>

    <script type="text/javascript">
        document.getElementById("ok").onclick = function(e)
        {
            var comment = document.getElementById("comment").value.replace(/(^\s*)/g, "");
            document.getElementById("comment").value = comment;
            if( comment != "")
            {
                alert("评论成功！");
            }
            else
                alert("您还没评论！");
        }
        document.getElementById("cancel").onclick = function(e)
        {
            window.location.href='http://127.0.0.1:8000/tocomment/';

        }

        window.onload = function(){

           document.getElementById("comment").onchange = function(){
                if(!AntiSqlValid(this.value)){
                    alert("有非法字段，请重新输入");
                    this.value = "";
                }
           }


            //防止注入
         function AntiSqlValid(oField ) {
             re = /<script>|select|update|delete|exec|count|’|"|=|;|>|<|%/i;
             if (re.test(oField.value)) {
                 //alert("请您不要在参数中输入特殊字符和SQL关键字！"); //注意中文乱码
                 oField.value = "";
                 oField.className = "errInfo";
                 oField.focus();
                 return false;
             }
		}
        }

    </script>

	</body>
</html>
