<!DOCTYPE html>
<html class="ng-scope" data-useragent="Mozilla/5.0 (Windows NT 6.3; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0" tn-launch-app="triton.xiumi.reader.board" lang="zh-cn"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">


    <title>暨友园520抽奖活动</title>


    <meta charset="UTF-8">


    <!-- base href="http://v.xiumi.us/board/v3/28O3N/1262893?from=groupmessage&isappinstalled=0" -->


    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-rim-auto-match" content="none">




    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <link rel="stylesheet" href="../static/css/template.css">




</head>
<body class="full-height-box board-body">

<div class="inner ng-scope" ng-controller="BoardDeskController">
    <section class="tn-article-section container" >

        <section class="row tn-board-head">

            <h3>520||约会吧 SIX SIX请客</h3>

            <div class="tn-head-info">
                <span class="time ng-binding" ng-bind="showInfo.created_at | date:'yyyy-M-d'">2015-5-14</span>
                <span class="hor-sep"></span>
{#                <span class="brand ng-binding" ng-bind="showInfo.owner.brand_name">+来</span>#}
            </div>
        </section>



        <section class="row tn-board-body tn-article-content-context">
            <hr>

            <hr>
        <!-- ngRepeat: slice in slices -->
            <!--图片-->
            <div >
                <div >
                    <!-- ngInclude: (page.templateId) | templateIdToPath: templatePath -->
                    <div >
                        <img class="title_image"
                             style=" box-sizing: border-box;
                                          width: 100%;
                                          height: auto !important;
                                          text-align: start;
                                          border: 0.3em solid white;
                                          -webkit-box-shadow: 0.2em 0.2em 0.5em #666;
                                          -moz-box-shadow: 0.2em 0.2em 0.5em #666;
                                          box-shadow: 0.2em 0.2em 0.5em #666"
                             src="../static/images/love.jpg" >
                        {#                    </fieldset>#}
                    </div>
                </div>
            </div>


            <!--标题 -->
            <div class="subTitle_div">
                <div >
                    <!-- ngInclude: (page.templateId) | templateIdToPath: templatePath -->
                    <div >
                        <fieldset class="subTitle_fieldset" style="">
                            <section class="subTitle_frame" style="" >
                                <section  class="subTitle_content" style="">
                                    <section>活动详情：</section>
                                </section><section class="subTitle_targe" style="" >

                            </section>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!-- end ngRepeat: slice in slices -->





            <!--方框内信息-->
            <div>
                <div >
                    <!-- ngInclude: (page.templateId) | templateIdToPath: templatePath -->
                    <div>
                        <fieldset class="ng-scope" style="border:0;margin: 0.5em 0">
                            <section class="content" >

                                <section class="angle" >
                                    <section class="angle_top_left"  >
                                    </section>
                                    <section class="angle_top_rigth"  >
                                    </section>
                                    <section class="angle_line" >
                                    </section>
                                </section>

                                <section class="content_details" style="">
                                    <section style="">
                                        <strong style="">
                                            <span style="font-size: 106.25%;">活动详情</span>
                                        </strong>
                                    </section>
                                    <section style="">
                                        我们联手学校附近的"Six Six"餐厅,举办"520送浪漫晚餐"活动,只要你
                                        <span style="color: rgb(218, 31, 0);">
                                            <strong>关注"暨友园",转发本文并截图给公众号,</strong>
                                        </span>即可抽取我们送出的浪漫晚餐大奖!&nbsp;
                                    </section>
                                    <section style="">
                                        <span style="color: rgb(218, 31, 0);">1.一等奖(3个幸运名额)</span>
                                    </section>
                                    <section style="">
                                        &nbsp; &nbsp;1支浪漫香槟+2份意大利面+1份杂果盘+1份炸薯条
                                    </section>
                                    <section style="">
                                        <span style="color: rgb(218, 31, 0);">2.二等奖(5个幸运名额)</span>
                                    </section>
                                    <section style="">
                                        &nbsp; &nbsp;1个猪扒包+1个大松饼+2杯奶茶
                                    </section>
                                    <section style="">
                                        <span style="color: rgb(218, 31, 0);">3.三等奖(30个幸运名额)</span>
                                    </section>
                                    <section style="">
                                        &nbsp; &nbsp;2杯奶茶
                                    </section>
                                </section>

                                <section class="angle" >
                                    <section class="angle_bottom_left" >
                                    </section>
                                    <section class="angle_bottom_right"  >
                                    </section>
                                </section>

                            </section>

                        </fieldset>
                    </div>
                </div>
            </div>

        </section>
   </section>
</div>

<section class="tn-scripts">

</section>



</body></html>